.container {
    display: flex;
    justify-content: center;   
}

.container-main{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container-tasks {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 4px;
    padding: 10px;
    border: 2px solid rgb(75,0,130);
    align-items: center; 
}

.id {
    height: 40px;
    background-color: rgba(230,230,250);
    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.task-status {
    span {
        cursor: pointer;
        height: 40px;
        display: flex;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        
    }
}

.completed {
    background-color:rgb(60,179,113);
    border-radius: 4px;
}

.uncompleted {
    background-color:rgb(205,92,92);
    border-radius: 4px;
}